# Set for direnv
# App Engine SDK の存在を確認、無ければエラーを返す
goapp=`which goapp 2>&1`
if [[ ! "${?}" = "0" ]]; then
  echo "Need to install `goapp` to execute this script."
  exit 127
fi

APPENGINE_SDK="`dirname $goapp`/goroot"
export GOROOT="${APPENGINE_SDK}" # GOROOT を App Engine SDK 配下の "/goroot" ディレクトリに設定
export GOPATH="`pwd`" # GOPATH をプロジェクトのルート ディレクトリに設定
export GOBIN="${GOPATH}/bin"
# export PATH=${PATH}:${GOBIN} # 必要であれば $PATH を設定
